<div class="columns">
  <div class="chat-box column is-3">
    <div class="blank-part"></div>
    <div class="color-part">
      <div class="profile-img"></div>
      <div class="friend-name">DAVE AWESOME</div>
    </div>
    <div class="chat-content">
      <!-- Chat content comes here -->
    </div>
    <div class="chat-controller">
      <div class="chat-input"></div>
      <div class="send-btn">SEND</div>
    </div>
  </div>
</div>