<div class="adding-friend">
  <div class="friend-img">
    <img src="/assets/avatar.png" alt="">
  </div>
  <div class="friend-name">Dave Awesome</div>
  <div class="toggle-friend-btn-add"></div>
</div>