<div class="friend-list">
  <img src="<%= asset_path("friend_list.png")%>" alt="friend list">
</div>

<div class="welcome-img">
  <img src="<%= asset_path("welcome_img.png")%>" alt="welcome image">
  <div class="welcome two-options-btn">
    <div class="two-btns">
      <div class="left-btn">
        <%= link_to "Sign up", new_user_registration_path, class: "text-white-btn" %>
      </div>
      <div class="right-btn">
        <%= link_to "Sign in", new_user_session_path, class: "text-black-btn"  %>
      </div>
    </div>
  </div>
  
</div>


