<div class="columns is-centered">
  <div class="column is-5 form-background">
    
    
    <div class="guide-text"><h2>You don’t have an account yet.<br>Do you want to sign up with</h2></div>
    
    <div class="input-items columns is-centered">
      <div class="column is-8">
        <div class="field">
          <div class="control">
            <input class="input input-box" type="text" placeholder="Name">
          </div>
          <div class="control">
            <input class="input input-box" type="text" placeholder="Email">
          </div>
          <div class="control">
            <input class="input input-box" type="text" placeholder="Password">
          </div>
        </div>
      </div>
    </div>
    
    <div class="two-options-btn">
      
    </div>
  </div>
</div>
