  <div class="match-img is-paddingless">
    <div class="column blank-part"></div>
    <div class="color-part">
      <div style="background-color: black" class="left-img">
      </div>
      
      <div class="mid-triangles">
        <div class="link-image">
          <div class="img-in">
            <%= image_tag "link-icon.png" %>
          </div>
          
        </div>
        <div class="triangle-left">
        </div>
      </div>
      
      <div style="background-color: white" class="right-img">
      </div>
    </div>
  </div>