
<div class="columns">
    <div class="post chat-box column is-5">
      <div class="blank-part"></div>
      <div class="color-part">
        <div class="post-profile profile-img">
          <%= image_tag User.last.profile_url %>
        </div>
        <div class="post-username friend-name">DAVE AWESOME</div>
      </div>
      
      
      
      <div class="post-container">
        <!-- Chat content comes here -->
        <div class="post-content">
          <div class="post-text">
            Spending 48 hours with this mini speaker. Everything is great. Though the sound is bad, the design is ugly, and no good reason to pick it up from the beginning.
          </div>
          <div class="post-img">
            <%= image_tag "sample_post_img.png" %>
          </div>
        </div>
        <div class="post-controller">
          
          <div class="controller-btn">
            <img src="/assets/like_icon.png" alt="like">
            <img src="/assets/share_icon.png" alt="share">
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  