// Colors for windows border
$my-blue: #4A90E2;
$my-purple: #8A4791;
$my-red: #FD5F54;
$my-orange: #FF8844;
$my-green : #5FCF80;
$my-brown: #755232;
$my-yellow: #FEDF73;

// Colors for background
$dark-primary-color: #4A4A4A;
$primary-color: #D8D8D8;
$secondary-color: #ECEEED;
$white-color: #FFFFFF;

// Other colors
$my-message-color: #BAB7BB;

// Font-faces
// @include font-face(SquareFont, "/fonts/SquareFont.ttf");
// @include font-face(ProximaThin, "/fonts/ProximaThin.otf");
// @include font-face(ProximaBold, "/fonts/ProximaBold.otf");

@font-face {
  font-family: "SquareFont";
  src: url('SquareFont.ttf');
}

@font-face {
  font-family: "ProximaBold";
  src: url('Mark Simonson - Proxima Nova Semibold.otf') format("truetype");
}

@font-face {
  font-family: "ProximaThin";
  src: url('Mark Simonson - Proxima Nova Thin.otf') format("truetype");
}


// Font-sizes
$header: 2rem;
$sub-header: 1.8125rem; 
$my-text: 1.125rem;
$big-btn: 	1.5625rem;
$medium-btn: 1.1875rem;
$small-btn: 1rem;
