@import "branding";

// THE FORM
.form-background { 
  background-color: $primary-color;
  bottom: 0px;
  position: absolute;
  .guide-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .input-box {
    box-shadow: none;
    border: none;
    border-color: none;
    margin-bottom: 10px;
    font-size: $small-btn;
  }
}

// THE MATCH IMAGE

.match-img {
  background-color: red;
  height: 120px;
  .blank-part {
    background-color: blue;
    height: 20px;
  }
  .color-part {
    display: flex;
    justify-content: space-around;
    height: 100%;
    
    .left-img {
      margin: -25px;
      margin-left: 10px;
      width: 100px;
    }
    
    .mid-triangles {
      height: 120px;
      width: 50px;
      background-color: gray;
      margin-top: -20px;
      // z-index: -2;
      
      
      .triangle-left {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 120px 50px 0 0;
        border-color: #007bff transparent transparent transparent;
        z-index: -1;
        
      }
      
      .link-image {
        width: 50px;
        height: 120px;
        background-color: rgba(1, 1, 1, 0);
        float: left;
        .img-in {
          width: 30px;
          height: 30px;
          position: relative;
          background-color: black;
          top: 50%;
          transform: translateY(-50%);
          margin: auto;
          
        }
        
      }
      
    }
    
    .right-img {
      margin: -25px;
      width: 100px;
      margin-right: 10px;
      
    }
  }
}

// THE TWO-OPTIONS BUTTON

.two-options-btn {
  margin-left: 100px;
  width: 350px;
  padding: 8px;
  padding-right: 0px;
  height: 50px;
  background-color: $dark-primary-color;
  display: flex;
  align-items: center;
  
  .two-btns {
    display: flex;
    
    
    .left-btn {
      height: 34px;
      line-height: 34px;
      width: 96px;
      background-color: $secondary-color;
      color: $dark-primary-color;
      font-size: $medium-btn;
      align-self: center;
      text-align: center;
      
    }
    .right-btn {
      background-color: $dark-primary-color;
      width: 243px;
      color: $white-color;
      font-size: $big-btn;
      align-self: center;
      text-align: center;
      
    }
  }
}

// THE CHATBOX


.chat-box {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 500px;
  height: 715px;
  background: black;
  .blank-part {
    background-color: blue;
    height: 20px;
  }
  .color-part {
    height: 122px;
    background-color: gray;
    position: relative;
    display: flex;
    
    .profile-img {
      width: 142px;
      height: 142px;
      background-color: red;
      float: left;
      margin-top: -20px;
      position: absolute;
      left: 40px;
    }
    .friend-name {
      height: 122px;
      line-height: 122px;
      font-size: $header;
      display: flex;
      color: white;
      position: absolute;
      left: 210px;
      
    }  
  }
  .chat-content {
    background-color: $primary-color;
    height: 510px;
  }

  .chat-controller {
    background-color: $primary-color;
    height: 56px;
    position: relative;
    .chat-input {
      position: absolute;
      left: 0px;
      height: 56px;
      width: 385px;
      background-color: $white-color;

    }
    .send-btn {
      background-color: $dark-primary-color;
      position: absolute;
      right: 0px;
      width: 88px;
      height: 39px;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      line-height: 39px;
      color: $white-color;
      font-size: $medium-btn;

    }
  }
  
}


// <div class="chat-box column is-3">
//   <div class="blank"></div>
//   <div class="color-part">
//     <div class="profile-img"></div>
//     <div class="friend-name"></div>
//   </div>
//   <div class="chat-content">
//     <!-- Chat content comes here -->
//   </div>
//   <div class="chat-controller">
//     <div class="chat-input"></div>
//     <div class="send-btn"></div>
//   </div>
// </div>






