// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'branding';

.nav-logo {
  height: 20%;
}

.friend-list {
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow:  #888888;
  height: inherit;
  img {
    margin-left: 0px;
    height: 100%;
    float: right;
    z-index: 1;
    box-shadow: 10px;
  }
}

.welcome-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .welcome-img {
    margin-top: 10px;
  } 

  .two-buttons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    
    .left-btn {
      line-height: 100%;
      height: 100%;
      width: 115px;
      margin-right: 10px;

    }
    .right-btn {
      line-height: 100%;
      height: 100%;
      width: 165px;
      
    }
  }

  
}


.friends-to-add {
  width: 470px;
  height: 316px;
  background-color: rgba(1, 1, 1, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 15px;
  overflow-y: auto;
  
  
  .adding-friend {
    width: 470px;
    height: 70px;
    background: rgba(1, 1, 1, 0);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    
    
    .friend-img {
      width: 70px;
      height: 70px;
      background-color: #4A90E2;
      padding: 3px;
      justify-content: flex-start;
      
    }
    
    .friend-name {
      font-size: $big-btn;
      color: $dark-primary-color;
      height: 70px;
      line-height: 70px;
      justify-content: flex-start;
      margin-left: 30px;
    }
    
    .toggle-friend-btn-add {
      width: 88px;
      height: 40px;
      line-height: 40px;
      background-color: $dark-primary-color;
      color: $white-color;
      position: absolute;
      right: 0px;
      font-size: $medium-btn;
      text-align: center;
      
      a {
        color: $white_color;
      }
      .text-white-mini-btn {
        font-size: $medium-btn;
        
      }
      
      
    }
    
    .toggle-friend-btn-remove{
      width: 88px;
      height: 40px;
      line-height: 40px;
      background-color: $dark-primary-color;
      color: $dark-primary-color;
      border-color: $dark-primary-color;
      
      position: absolute;
      right: 0px;
      font-size: $small-btn;
      text-align: center;
      
      a {
        color: $dark-primary-color;
        background-color: $primary-color;
        padding: 6px;
        padding-left: 9px;
        padding-right: 9px;
      }
      .text-white-mini-btn {
        font-size: $small-btn;
        
      }
      
    }
    
  }
}

.nav-bar {
  .user-profile {
    width: 128px;
    height: 128px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
  }
  
  .newsfeed-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 150px;
  }
  
  .messages-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 220px;
  }
}

.friend_list {
  width: 900px;
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow:  #888888;
  img {
    margin-left: 0px;
    width: 84px;
    height: 84px;
    float: right;
    z-index: 1;
    box-shadow: 10px;
  }
}




.content-part {
  width :1647px;
  height: 762px;
  background-color: $primary-color;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: auto;
  overflow: visible;
  
  .suggest-content {
    background-color: $dark-primary-color;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width :479px;
    height: 762px;
  }
}

.post {
  margin-bottom: 200px;
  .color-part {
    .post-profile {
      margin-left: 20px;
    }
    .post-username {
      margin-left: 30px;
    }
  }

  .content-part {
    height: 752px;
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    background-color: blue;

    .post-container {
      background-color: $white-color;
      padding-top: 55px;
      padding-bottom: 15px;
      padding-left: 80px;
      padding-right: 80px;
      height: 100%;
      height: 752px;
      
      
      .post-content {
        width:85%;
        height: 752px;
        background-color: blue;
        
        .post-text {
          font-size: $my-text;
          margin-bottom: 40px;
        }
        
        .post-img {
          img {
            width: 97%;
            margin-bottom: 30px;
          }
        }
        
      }
      
      
      
      .post-controller {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: rgba(1, 1, 1, 0);
        width: 15%;
        height: 100%;
        align-items: center;
        display: flex;
        
        
        .controller-btn {
          display: flex;
          flex-direction: column;
          object-fit: contain; 
          img {
            object-fit: contain;
            margin-bottom: 10px;
          }
        }
      }
      
      
    }
  }
  
  
}

